<html>
<head>
  <title>登录</title>
</head>
<body>
  {% if message %}
  <p style="color:red">{{ message }}</p>
  {% endif %}
  <form action="/signin" method="post">
    <legend>请输入:</legend>
    <p><input name="username" placeholder="用户名（学号）" value="{{ username }}"></p>
    <p><input name="password" placeholder="密码" type="password"></p>
    <p><button type="submit">登录</button></p>
  </form>
  <form action="/signup" method="get">
  <p><button type="submit" >注册</button></p>
    </form>
</body>
</html>